# Mac OSX index files
*.DS_Store

# Qt user files
*.user

# Compiled Object files
*.slo
*.lo
*.o


# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Autoasve files
*.autosave

#cmakefiles
*/CMakeFiles/*

#build dirs
*/build/*